#logo{
    height: 15vh;
}

header{
    display: grid;
    background-color: orangered;
    grid-template-columns: 1fr 3fr;
    height: 15vh;
    >p{
        display: grid;
        text-align: center;
        font-size: 22pt;
        font-weight: bold;
        padding: 2vh;
        text-shadow: 0.5px 0.5px whitesmoke;
        font-family: "Italianno";
    }
    >span{
        display: none;
        font-family: "Italianno";
    }
    #plainphone{
        display: none;
        color: black;
    }
}
@media only screen and (min-width: 650px){
    #logo{
        height: 25vh;
        }
    header{
        grid-template-columns: 1fr 2fr 2fr;
        height: 25vh;
        >span{
            display: initial;
            text-align: center;
            font-size: 32pt;
            padding-top: 2vh;
            font-weight: bold;
            text-shadow: 0.5px 0.5px whitesmoke;
            font-family: "Italianno";
        }
        #plainphone{
            display: initial;
        }
        #clickphone{
            display: none;
        }
            >p{
                font-size: 24pt;
        }
    }
}
@media only screen and (min-width: 1000px){
    #logo{
        height: 35vh;
    }
    header{
        height: 35vh;
        >span{
            font-size: 50pt;
            font-weight: bold;
            font-family: "Italianno";
        }
        >p{
            font-size: 30pt;
        }
        }
}