* {
  margin: 0;
  padding: 0;
}

html {
  background-color: moccasin;
}

#logo {
  height: 15vh;
}

header {
  display: grid;
  background-color: orangered;
  grid-template-columns: 1fr 3fr;
  height: 15vh;
}
header > p {
  display: grid;
  text-align: center;
  font-size: 16pt;
  padding-top: 2vh;
  font-family: cursive;
}
header > span {
  display: none;
  font-family: "Italianno";
}
header #plainphone {
  display: none;
  color: black;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 19pt;
  padding: 1vh;
}
nav > #find {
  background-color: orangered;
  border: 2px solid black;
  margin-right: 1vw;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  font-weight: bold;
}
nav > #home {
  background-color: orangered;
  border: 2px solid black;
  margin-left: 1vw;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  font-weight: bold;
}

.Banner {
  background-color: firebrick;
  border: 2px solid black;
  color: moccasin;
  font-size: 16pt;
  height: 5vh;
  text-align: center;
  margin: 1vh;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 2vh;
}

article {
  display: grid;
  background-color: palegoldenrod;
  grid-auto-rows: auto;
  border: 2px solid black;
  margin: 2vh;
}
article > h5 {
  text-align: center;
  font-size: 12pt;
  margin: 1vh;
}
article > img {
  height: 130px;
  width: 130px;
  justify-self: center;
}
article > p {
  font-size: 24;
  text-align: center;
  font-weight: bold;
  margin: 5px;
}

.drinks {
  display: grid;
}
.drinks > span img {
  height: 70px;
}

.beer {
  display: grid;
}
.beer > span {
  justify-self: center;
}
.beer > span img {
  height: 125px;
}

footer {
  background-color: black;
  color: white;
  font-size: 8pt;
  padding-top: 1vh;
}

@media only screen and (min-width: 650px) {
  #logo {
    height: 25vh;
  }
  header {
    grid-template-columns: 1fr 2fr 2fr;
    height: 25vh;
  }
  header > span {
    display: initial;
    text-align: center;
    font-size: 32pt;
    padding-top: 2vh;
    font-family: "Italianno";
    font-weight: bold;
  }
  header #plainphone {
    display: initial;
  }
  header #clickphone {
    display: none;
  }
  header > p {
    font-size: 20pt;
  }
  .menu {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2vh;
  }
  .menu article > h5 {
    text-align: center;
    font-size: 1.75rem;
    margin: 1vh;
  }
  .menu article > img {
    height: 175px;
    width: 175px;
    justify-self: center;
  }
  .menu article > p {
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    margin: 5px;
  }
  #Banner {
    font-size: 2rem;
    height: 7vh;
  }
  .drinks > span img {
    height: 80px;
  }
  .drinks > span {
    justify-self: center;
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    height: 35vh;
  }
  header {
    height: 35vh;
  }
  header > span {
    font-size: 50pt;
    align-self: center;
    font-family: "Italianno";
  }
  header > p {
    font-size: 30pt;
  }
  nav {
    font-size: 30pt;
  }
  #Banner {
    font-size: 2rem;
    height: 7vh;
  }
  .menu {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 2vh;
  }
  .menu article > h5 {
    text-align: center;
    font-size: 2rem;
    margin: 1vh;
  }
  .menu article > img {
    height: 200px;
    width: 200px;
    justify-self: center;
  }
  .menu article > p {
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    margin: 5px;
  }
  .drinks > h5 {
    font-size: 2rem;
  }
  .drinks > p {
    font-size: 20pt;
  }
  .drinks > span > img {
    height: 100px;
  }
  .beer > h5 {
    font-size: 2rem;
  }
  .beer > p {
    font-size: 20pt;
  }
  .beer > span > img {
    height: 100px;
  }
}/*# sourceMappingURL=menu.css.map */