@use "../pageinfo";
@use "../headerinfo";
@use "../footer";
@use "../links";

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 19pt;
    padding: 1vh;
    >#find{
        border: 2px solid black;
        border-radius: 20px;
        margin-right: 1vw;
        text-align: center;
        padding: 2vh;
        font-weight: bold;
    }   
    >#home{
        border: 2px solid black;
        border-radius: 20px;
        margin-left: 1vw;
        text-align: center;
        padding: 2vh;
        font-weight: bold;
    }
}
.Banner{
    background-color: firebrick;
    border: 2px solid black;
    color: moccasin;
    font-size: 16pt;
    height: 5vh;
    text-align: center;
    margin: 1vh;
    text-shadow: 3px 0 black, 0 3px black, 0 3px black;
}
.menu{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 2vh;
}
article{
    display: grid;
    background-color: palegoldenrod;
    grid-auto-rows: auto;
    border: 2px solid black;
    margin: 2vh;
    >h5{
        text-align: center;
        font-size: 12pt;
        margin: 1vh;
    }
    >img{
        height: 130px;
        width: 130px;
        justify-self: center;
        box-shadow: 6px 6px 5px firebrick;
        border-radius: 20px;

    }
    >p{
        font-size: 24;
        text-align: center;
        font-weight: bold;
        margin: 5px;
    }
}
.drinks{
    display: grid;
    >span img{
        height: 70px;
    }
}
.beer{
    display: grid;
    >span{
        justify-self: center;
    }
    >span img{
        height: 125px;
    }
}
#button{
    width: 16vw;
    height: 8vh;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: bold;
    background-color: orangered;
    
}

// This is the start of the Tablet size screen

@media only screen and (min-width: 650px){
    .menu{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 2vh;
        article{
            > h5{
            text-align: center;
            font-size: 1.75rem;
            margin: 1vh;
            }
        >img{
            height: 175px;
            width: 175px;
            justify-self: center;
        }
        >p{
            font-size: 14pt;
            text-align: center;
            font-weight: bold;
            margin: 5px;
        }
        }
    }
    .Banner{
        font-size: 2rem;
        height: 9vh;
    }
    .drinks{
        >span img{
            height: 80px;
        }
        >span{
            justify-self: center;
        }
    }
}

    // This is the start of the Desktop size screen

@media only screen and (min-width: 1000px){
    nav{
        font-size: 30pt;
    }
    .Banner{
        font-size: 24pt;
        height: 7vh;
    }
    .menu{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        margin: 2vh;
    }
    .menu article{
        >h5{
            text-align: center;
            font-size: 2rem;
            margin: 1vh;
        }
        >img{
            height: 200px;
            width: 200px;
            justify-self: center;
            border-radius: 20px;
            
        }
        >p{
            font-size: 18pt;
            text-align: center;
            font-weight: bold;
            margin: 5px;
        }
    }
    .drinks{
        >h5{
            font-size: 2rem;
        }
        >p{
            font-size: 20pt;
        }
        >span > img{
            height: 100px;
        }
    }
    .beer{
        >h5{
            font-size: 2rem;
        }
        >p{
            font-size: 20pt;
        }
        >span > img{
            height: 100px;
        }
    }
    #button{
        font-size: 1.5rem;
    }
}

