*{
    margin: 0;
    padding: 0;
}
#logo{
    height: 15vh;
    }

html{
    background-color: moccasin;
}
header{
    display: grid;
    background-color: orangered;
    grid-template-columns: 1fr 3fr;
    height: 15vh;
    >p{
        display: grid;
        text-align: center;
        font-size: 16pt;
        padding-top: 2vh;
        font-family: cursive;
    }
    >span{
        display: none;
        font-family: "Italianno";
    }
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 19pt;
    padding: 1vh;

    >#find{
        background-color: orangered;
        border: 2px solid black;
        margin-right: 1vw;
        text-align: center;
        padding: 2vh;
        text-decoration: none;
        font-weight: bold;
    }   
    >#home{
        background-color: orangered;
        border: 2px solid black;
        margin-left: 1vw;
        text-align: center;
        padding: 2vh;
        text-decoration: none;
        font-weight: bold;
    }
}
    #Banner{
        background-color: firebrick;
        border: 2px solid black;
        color: white;
        font-size: 16pt;
        height: 5vh;
        text-align: center;
        margin: 1vh;
    }

    .menu{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 2vh;
        
    }

        article{
            display: grid;
            background-color: palegoldenrod;
            grid-auto-rows: auto;
            border: 2px solid black;
            margin: 2vh;
        
        >h5{
            text-align: center;
            font-size: 12pt;
            margin: 1vh;
            }
        >img{
            height: 130px;
            width: 130px;
            justify-self: center;
        }
        >p{
            font-size: 24;
            text-align: center;
            font-weight: bold;
            margin: 5px;
        }
        }
    .drinks{
        display: grid;
        >span img{
            height: 70px;
        }
    }
    .beer{
        display: grid;
        >span{
            justify-self: center;
        }
        >span img{
            height: 125px;
        }
    }
    footer{
        background-color: black;
        color: white;
        font-size: 8pt;
        padding-top: 1vh;
    }

