@use "../pageinfo";
@use "../headerinfo";
@use "../footer";
@use "../links";

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 19pt;
    padding: 2vh;
    padding-bottom: 3vh;
    >#home{
        border: 2px solid black;
        background-color: orangered;
        border-radius: 20px;
        margin-right: 1vw;
        text-align: center;
        padding: 2vh;
        font-weight: bold;
    }   
    >#menu{
        border: 2px solid black;
        background-color: orangered;
        border-radius: 20px;
        margin-left: 1vw;
        text-align: center;
        padding: 2vh;
        font-weight: bold;
    }
}
.maps > h3{
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    }
    #sta{
        padding: 5vh;
    }
    #edm{
        padding: 5vh;
}
.hours{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14pt;
    height: 150px;
    >img{
        height: 50%;
        justify-self: center;
        padding-right: 2vw;
        border-radius: 20px;
    }
    #dining{
        display: none;
    }
    #family{
        display: none;
    }
    >span{
        padding-left: 2vh;
        height: fit-content;
        width: 100%;
    }
}
.Banner{
    background-color: firebrick;
    border: 2px solid black;
    color: moccasin;
    font-size: 16pt;
    height: 5vh;
    text-align: center;
    text-shadow: 3px 0 black, 0 3px black, 0 3px black;
    margin: 1vh;
}
article{
    text-align: left;
    padding: 2vh;
    >h4{
        text-align: left;
    }
    >p{
        padding-top: 1vh;
        padding-bottom: 2vh;
    }
}

// This is the start of the Tablet size screen

@media only screen and (min-width: 650px){

    .maps{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding-bottom: 56.25%;
        position: relative;
        >h3{
            text-align: center;
            padding-top: 1vh;
        }
    }
    .maps iframe{
        overflow: hidden;
        top: 0;
        left: 0;
        height: 70%;
        width: 40%;
        position: absolute;
    }
    #sta{
        padding-left: 55%;
        padding-top: 10%;
    }
    #edm{
        padding-top: 10%;
    }
    .hours{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        >span{
            width: 35vw;
            padding-top: 5vh;
        }
        >img{
            padding-right: 1vw;
            justify-self: right;
            border-radius: 25px;
        }
        #dining{
            display: initial;
        }
        #family{
            display: initial;
        }
    }
    article{
        >p{
            font-size: 15pt;
        }
        >h4{
            font-size: 15pt;
        }
    }
}

    // This is the start of the Desktop size screen

@media only screen and (min-width: 1080px){
    nav{
        font-size: 30pt;
    }
    .maps{
        >h3{
            font-size: 24pt;
        }
    }
    .hours{
        >img{
            height: 150px;
            justify-self: center;

        }
        >span{
            font-size: 18pt;
        }
    }
    .Banner{
        font-size: 24pt;
        height: 10vh;
        padding-top: 2vh;
    }
}    
