* {
  margin: 0;
  padding: 0;
}

html {
  background-color: moccasin;
}

#logo {
  height: 15vh;
}

header {
  display: grid;
  background-color: orangered;
  grid-template-columns: 1fr 3fr;
  height: 15vh;
}
header > p {
  display: grid;
  text-align: center;
  font-size: 16pt;
  padding-top: 2vh;
  font-family: cursive;
}
header > span {
  display: none;
  font-family: "Italianno";
}
header #plainphone {
  display: none;
  color: black;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 19pt;
  padding: 2vh;
  padding-bottom: 3vh;
}
nav > #home {
  background-color: orangered;
  border: 2px solid black;
  margin-right: 1vw;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  font-weight: bold;
}
nav > #menu {
  background-color: orangered;
  border: 2px solid black;
  margin-left: 1vw;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  font-weight: bold;
}

.maps > h3 {
  text-align: center;
  font-size: 18pt;
  text-decoration: underline;
}

#sta {
  padding: 5vh;
}

#edm {
  padding: 5vh;
}

.hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14pt;
  height: 150px;
}
.hours > img {
  height: 50%;
  justify-self: right;
  padding-right: 2vh;
}
.hours #dining {
  display: none;
}
.hours #family {
  display: none;
}
.hours > span {
  padding-left: 2vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.Banner {
  background-color: firebrick;
  border: 2px solid black;
  color: moccasin;
  font-size: 16pt;
  height: 5vh;
  text-align: center;
  margin: 1vh;
}

article {
  text-align: left;
  padding: 2vh;
}
article > h4 {
  text-align: left;
}
article > p {
  padding-top: 1vh;
  padding-bottom: 2vh;
}

footer {
  background-color: black;
  color: white;
  font-size: 8pt;
  padding-top: 1vh;
}

@media only screen and (min-width: 650px) {
  #logo {
    height: 25vh;
  }
  header {
    grid-template-columns: 1fr 2fr 2fr;
    height: 25vh;
  }
  header > span {
    display: initial;
    text-align: center;
    font-size: 32pt;
    padding-top: 2vh;
    font-family: "Italianno";
    font-weight: bold;
  }
  header #plainphone {
    display: initial;
  }
  header #clickphone {
    display: none;
  }
  header > p {
    font-size: 20pt;
  }
  .maps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-bottom: 56.25%;
    position: relative;
  }
  .maps > h3 {
    text-align: center;
    padding-top: 1vh;
  }
  .maps iframe {
    overflow: hidden;
    top: 0;
    left: 0;
    height: 70%;
    width: 40%;
    position: absolute;
  }
  #sta {
    padding-left: 55%;
    padding-top: 10%;
  }
  #edm {
    padding-top: 10%;
  }
  .hours {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .hours > span {
    width: 35vw;
    padding-top: 5vh;
  }
  .hours > img {
    padding-right: 2vw;
    justify-self: right;
  }
  .hours #dining {
    display: initial;
  }
  .hours #family {
    display: initial;
  }
  article > p {
    font-size: 15pt;
  }
  article > h4 {
    font-size: 15pt;
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    height: 35vh;
  }
  header {
    height: 35vh;
  }
  header > span {
    font-size: 50pt;
    align-self: center;
    font-family: "Italianno";
  }
  header > p {
    font-size: 26pt;
  }
  nav {
    font-size: 30pt;
  }
  .maps > h3 {
    font-size: 24pt;
  }
  .hours > img {
    height: 150px;
    justify-self: center;
  }
  .hours > span {
    font-size: 18pt;
  }
  .Banner {
    font-size: 24pt;
    height: 10vh;
    padding-top: 2vh;
  }
}/*# sourceMappingURL=contact.css.map */