@use "../pageinfo";

#logo{
    height: 15vh;
    }

header{
    display: grid;
    background-color: orangered;
    grid-template-columns: 1fr 3fr;
    height: 15vh;
    >p{
        display: grid;
        text-align: center;
        font-size: 16pt;
        padding-top: 2vh;
        font-family: cursive;
    }
    >span{
        display: none;
        font-family: "Italianno";
    }
    #plainphone{
        display: none;
        color: black;
    }
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 19pt;
    padding: 1vh;
    >#home{
        background-color: orangered;
        border: 2px solid black;
        margin-right: 1vw;
        text-align: center;
        padding: 2vh;
        text-decoration: none;
        font-weight: bold;
    }   
    >#menu{
        background-color: orangered;
        border: 2px solid black;
        margin-left: 1vw;
        text-align: center;
        padding: 2vh;
        text-decoration: none;
        font-weight: bold;
    }
}
    .maps{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        >h3{
            text-align: center;
            padding-top: 1vh;
        }
    }
    .maps iframe{
        padding-top: 7vh;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 45%;
        width: 45%;
        position: absolute;
    }
    #sta{
        padding-left: 52%;
        
    }
    #edm{
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .hours{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 14pt;
        >img{
            height: 50%;
            justify-self: right;
            padding-right: 2vh;
        }
        >span{
            padding-left: 2vh;
            height: fit-content;
            width: 100%;
        }

    }

